@font-face {
    font-family: 'Herculanum';
    src: url('Herculanum.ttf');
}

.label {
    -fx-text-alignment: center;
    -fx-font-family: Herculanum;
    -fx-text-fill: rgb(78, 41, 41);
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}